<div class="tile is-parent">
  <article class="tile is-child notification is-info">
    <p class="title">Meet the Developers</p>
    <div class="content">
      <p>
        <a href="mailto:mindlikewater@gmail.com">Tai Chen</a> and
        <a href="mailto:dmagwood13@gmail.com">DaQunda Magwood</a> are two fledgling
        Software Developers who teamed up to bring you Snapogram!  Their website
        puts a retro spin on photo-sharing by displaying photos as Polaroid pictures.
        Click on the "Add a Pic" link to contribute your favorite photos to the gallery!
      </p>
      <p>
        To learn more about DaQunda's other projects, visit her Github page
        at <a href="https://github.com/SimplyyQunda">SimplyyQunda</a>.
      </p>
      <p>
        You can also check out Tai's Github projects at
        <a href="https://github.com/mindlikewater">Mindlikewater</a>.
      </p>
    </div>
  </article>
</div>
