<h1 class="title"> Add a Pic!</h1>

<form name="newPic" ng-submit="addPic(pic)">
  <p class="control">
    <input name="caption" type="text" placeholder="Caption This"
           ng-model="pic.caption" />
  </p>
  <p class="control">
    <input name="url" type="text" placeholder="Pic Url" ng-model="pic.url" />
  </p>
  <p class="control">
    <input name="description" type="text" placeholder="Pic Description" ng-model="pic.description" />
  </p>
  <button class="button is-primary">Add Pic</button>
</form>
